<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>headers}}
    <p>This site was created by Manoj Khatri. It uses data from mapbox.com and weather-stack API to fetch local API data</p>
    <p>Behind the scenes Geo coding service provided by map-box is used to convert the location user provides to latitude and longitude pair</p>
    <img class="portrait" src="/img/me.jpg">
    </div>
     <p1>{{>footers}}</p1>
</body>
</html>