<!DOCTYPE html>
<html>
<head> 
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>headers}}
    <p1>{{message}}</p1>
    </div>
    <p1>{{>footers}}</p1>
</body>
</html>