<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <p>Use this site to get your weather</p>
        <p>In the field requiring address, following are the valid options <br>
            -Physical address<br>
            -Zip code <br>
            -Country<br>
            -State<br>
            -City<br>
            -Location Name such as (Resturants, parks etc)
        </p>

        <form>
            <input placeholder="Enter Address">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    
    {{>footers}}
    <script src="./js/app.js"></script>
</body>
</html>